section.about {
  background: lighten($grey, 40);
  display: flex;
  position: relative;
  padding: 0 30px 30px;

  .about-content {
    background: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: $box-shadow;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    top: -30px;

    h2 {
      color: $main-color;
      margin: 0 0 30px;
    }
  }
}
