/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/**/
.flex-container {
  display: inline-flex;
  display: flex; }

.direction-row {
  flex-direction: row; }

.direction-row-reverse {
  flex-direction: row-reverse; }

.direction-column {
  flex-direction: column; }

.direction-column-reverse {
  flex-direction: column-reverse; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-content-start {
  align-content: flex-start; }

.align-end {
  align-content: flex-end; }

.align-center {
  align-content: center; }

.align-between {
  align-content: space-between; }

.align-around {
  align-content: space-around; }

/**/
.align-self-auto {
  align-self: auto; }

.align-self-start {
  align-self: flex-start; }

.align-self-end {
  align-self: flex-end; }

.align-self-center {
  align-self: center; }

.align-self-baseline {
  align-self: baseline; }

.align-self-stretch {
  align-self: stretch; }

/******************************************************
*                    SOME FIXES
******************************************************/
*,
*:after,
*:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none !important;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  outline: none; }

/******************************************************
*                  INITIAL STYLES
******************************************************/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

body {
  background: #fff;
  color: #333;
  font: 18px "Roboto", sans-serif;
  font-weight: lighter;
  font-weight: 100;
  overflow-x: hidden;
  line-height: 1.3; }
  body main.site-main {
    overflow-x: hidden; }
    body main.site-main h1,
    body main.site-main h2,
    body main.site-main h3,
    body main.site-main h4,
    body main.site-main h5 {
      font-family: "Nunito", "Arial Black", sans-serif;
      -webkit-hyphens: none;
          -ms-hyphens: none;
              hyphens: none;
      margin: 1em 0 1rem;
      text-transform: uppercase; }
    body main.site-main input {
      border: none; }

/******************************************************
*                    MODULES
******************************************************/
section.about {
  background: #edf0f1;
  display: flex;
  position: relative;
  padding: 0 30px 30px; }
  section.about .about-content {
    background: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    top: -30px; }
    section.about .about-content h2 {
      color: #004a57;
      margin: 0 0 30px; }

section.brands {
  background: #788e9a;
  display: flex;
  position: relative;
  padding: 0 30px 30px; }
  section.brands .brands-content {
    color: #fff;
    padding: 30px;
    margin: 0 auto;
    max-width: 800px; }
    section.brands .brands-content .gallery {
      padding: 15px 0;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
      section.brands .brands-content .gallery .gallery-item {
        margin: 0;
        padding: 0;
        justify-self: center; }
        section.brands .brands-content .gallery .gallery-item .gallery-icon img {
          width: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          height: 50px; }

section.contact {
  border-top: 30px solid #fff;
  border-bottom: 60px solid #fff;
  background: #004a57;
  position: relative; }
  section.contact .contact-content {
    background: #fff;
    display: flex;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    width: 90%;
    max-width: 1300px; }
    section.contact .contact-content .contact-text {
      background: #edf0f1;
      max-width: 600px;
      padding: 15px; }
      section.contact .contact-content .contact-text h2 {
        color: #e95451;
        margin: 0 0 15px; }
    section.contact .contact-content .contact-form {
      display: flex;
      flex-direction: column;
      margin: 0 30px;
      max-width: 500px; }
      section.contact .contact-content .contact-form .field-block {
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 1em; }
        section.contact .contact-content .contact-form .field-block .field,
        section.contact .contact-content .contact-form .field-block .label {
          transition: all 0.2s;
          touch-action: manipulation; }
        section.contact .contact-content .contact-form .field-block .field {
          -webkit-appearance: none;
          border-bottom: 1px solid #788e9a;
          border-radius: 0;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          cursor: text;
          font-family: inherit;
          font-size: 1.25em;
          padding: 6px 9px; }
          section.contact .contact-content .contact-form .field-block .field.text-area {
            height: 2em;
            resize: none; }
            section.contact .contact-content .contact-form .field-block .field.text-area:focus {
              height: 5em; }
          section.contact .contact-content .contact-form .field-block .field::-webkit-input-placeholder {
            opacity: 0;
            transition: inherit; }
          section.contact .contact-content .contact-form .field-block .field:-moz-placeholder {
            opacity: 0;
            transition: inherit; }
          section.contact .contact-content .contact-form .field-block .field::-moz-placeholder {
            opacity: 0;
            transition: inherit; }
          section.contact .contact-content .contact-form .field-block .field:-ms-input-placeholder {
            opacity: 0;
            transition: inherit; }
          section.contact .contact-content .contact-form .field-block .field:focus {
            outline: 0;
            border-bottom: 1px solid #e95451; }
          section.contact .contact-content .contact-form .field-block .field:placeholder-shown + .label {
            cursor: text;
            max-width: 66.66%;
            overflow: hidden;
            text-overflow: ellipsis;
            transform-origin: left bottom;
            transform: translate(0, 2.125rem) scale(1.25);
            white-space: nowrap; }
          section.contact .contact-content .contact-form .field-block .field:not(:placeholder-shown).text-area, section.contact .contact-content .contact-form .field-block .field:focus.text-area {
            height: 5em; }
          section.contact .contact-content .contact-form .field-block .field:not(:placeholder-shown) + .label, section.contact .contact-content .contact-form .field-block .field:focus + .label {
            transform: translate(0, 0) scale(1);
            cursor: pointer; }
        section.contact .contact-content .contact-form .field-block .label {
          color: #788e9a;
          font-size: 0.6em;
          letter-spacing: 0.05em;
          padding: 0 9px;
          text-transform: uppercase; }
      section.contact .contact-content .contact-form .submit-btn {
        background: #e95451;
        border-radius: 2px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 0.8em;
        letter-spacing: 0.06em;
        margin: 15px 0 0 auto;
        padding: 9px 15px;
        text-transform: uppercase; }
    section.contact .contact-content .gmap {
      background: #788e9a;
      width: 100%; }

footer.site-footer {
  background: #004a57;
  padding: 30px 15px; }
  footer.site-footer .inner-footer {
    max-width: 1300px;
    margin: 0 auto; }
    footer.site-footer .inner-footer p {
      color: #fff;
      text-align: center; }

.site-header {
  background: #fff;
  height: 90px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99; }
  .site-header .inner-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px; }
    .site-header .inner-header .site-logo {
      margin: 0;
      width: 200px; }
      .site-header .inner-header .site-logo a {
        text-decoration: none;
        width: 100%; }
        .site-header .inner-header .site-logo a img {
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain;
          width: 100%; }
    .site-header .inner-header .main-nav {
      align-self: center;
      justify-self: end; }
      .site-header .inner-header .main-nav .menu-main-container .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0; }
        .site-header .inner-header .main-nav .menu-main-container .menu .menu-item {
          border-right: 1px solid #788e9a;
          margin: 0;
          padding: 0; }
          .site-header .inner-header .main-nav .menu-main-container .menu .menu-item:last-child {
            border: none; }
          .site-header .inner-header .main-nav .menu-main-container .menu .menu-item a {
            color: #004a57;
            display: block;
            font-family: "Nunito", "Arial Black", sans-serif;
            font-weight: bold;
            padding: 3px 9px;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.3s; }
            .site-header .inner-header .main-nav .menu-main-container .menu .menu-item a:hover {
              color: #e95451; }

section.hero {
  background: linear-gradient(45deg, #004a57 30%, #fff 50%, #e95451 100%);
  display: flex;
  height: 60vh;
  min-height: 450px;
  position: relative; }
  section.hero .feat-img {
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 0;
    height: 60vh;
    min-height: 450px; }
    section.hero .feat-img .feat-img-file {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%; }
  section.hero .hero-text {
    color: #fff;
    font-family: "Nunito", "Arial Black", sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin: auto;
    max-width: 800px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 15px #004a57;
    text-transform: uppercase;
    z-index: 1; }

section.services {
  background: #004a57;
  position: relative; }
  section.services .services-content {
    color: #FFF;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    position: relative; }
  section.services .feat-img {
    height: 400px;
    position: relative; }
    section.services .feat-img:before {
      background: rgba(0, 74, 87, 0.5);
      content: '';
      height: 150px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    section.services .feat-img img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%; }

